<div class="tile">
  <div class="tile is-parent is-vertical is-light">
    <div class="card is-primary-box">
      <div class="title is-4">Comments</div>
      <div class="card-content">
        {{#each this}}
        <div class="content">
          {{comment_text}}
          {{user.username}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
