<div class="tile is-parent">
  <article class="tile is-child notification is-success">
    <div class="content">
      <p class="title">Locations</p>
      <p class="subtitle button is-warning">Madison</p>
      <p class="subtitle">Milwaukee</p>
      <p class="subtitle">Chicago</p>

      {{! <div class="content">
          <!-- Content -->
        </div> }}
      {{!-- {{#if loggedIn}}
        {{> login}}
      {{/if}} --}}

    </div>
  </article>
</div>