<nav class="level has-background-primary" role="navigation">
  {{! <a class="navbar-brand"> Celiac Tackboard></a> }}
  <a
    href="/"
    class="level-item has-background-primary-dark is-size-3 is-outlined has-text-primary-light"
    id="home"
  >
    Home
  </a>

  <a
    href="/profile-page"
    class="level-item has-background-primary-dark is-size-3 is-outlined has-text-primary-light"
  >
    Profile
  </a>

  {{! depending if the user is logged in or not the appropriate buttons and file will be supplied}}
  {{#if loggedIn}}
    <a
      class="level-item has-background-primary-dark is-size-3 is-outlined has-text-primary-light"
      id="logout"
    >
      Logout
    </a>
    <script src="/javascript/logout.js"></script>
  {{else}}
    <a
      href="/login"
      class="level-item has-background-primary-dark is-size-3 is-outlined has-text-primary-light"
    >
      Login
    </a>
  {{/if}}
</nav>