<div class="tile">
  <div class="tile is-parent is-vertical is-light">
    <div class="card is-primary-box">
      <div class="card-content">
        <p class="title is-inline">{{title}}</p>
        {{#if post_url}}
        <a class="subtitle " href="{{post_url}}">{{post_url}}</a>
        {{/if}}
        <div class="content">
          {{description}}
        </div>
      </div>
    </div>
  </div>
</div>




