<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celiac Tackboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div>
        <header class="wrapper">
            <h1>
            </h1>
            {{> navbar}}
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="footer hero has-background-primary is-medium has-text-centered has-text-white has-text-weight-bold">
            Thank you for using Celiac Tackboard!
        </footer>
    </div>

</body>


</html>