<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celiac Tackboard</title>
    <link rel="stylesheet" href="../node_modules/bulma.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Celiac Tackboard</a>
            </h1>
            <nav>
                {{!-- {{#if loggedIn}}
                <a></a>
                {{else}}
                <a></a>
                {{/if}} --}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="footer hero is-danger has-text-centered">
            Thank you for using Celiac Tackboard!
        </footer>
    </div>

</body>

</html>