<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celiac Tackboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

<body>
    <div>
        <header class="wrapper">
            <h1>
            </h1>
            <nav class="navbar has-background-primary" role="navigation">
                <a class="navbar-brand"> Celiac Tackboard></a>
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Cities
                </a>
                {{!-- {{#if loggedIn}}
                <a></a>
                {{else}}
                <a></a>
                {{/if}} --}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="footer hero has-background-primary is-medium has-text-centered has-text-white has-text-weight-bold">
            Thank you for using Celiac Tackboard!
        </footer>
    </div>

</body>

</html>