{{!-- leaving space for navbar  --}}

{{!-- user posts column --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                {{!-- did not include edit, don't know if we want to add edit post yet --}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- user comments column --}}
{{#if comments.length}}
<section>
    <h2>Your Comments</h2>
    <ol>
        {{#each comments as |comment|}}
            <li>
                {{> comment-info comment}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- users upvoted posts  --}}
{{#if upvotes.length}}
<section>
    <h2>Your Upvoted Posts</h2>
    <ol>
        {{#each upvotes as |upvote|}}
            <li>
                {{> upvote-info upvote}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- users favorited posts --}}
{{#if favorites.length}}
<section>
    <h2>Your Favorited Posts</h2>
    <ol>
        {{#each favorites as |favorite|}}
            <li>
                {{> favorite-info favorite}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
{{!-- need to add scripts for comments / upvoted / favorited posts --}}
<script src="/javascript/upvote.js"></script>