{{!-- add intro to page --}}
<form class="login-form">
    <div class="box">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class ="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success">
                    Login
                </button>
            </p>
        </div>
    </div>
</form>

<form class="signup-form">
{{!-- add signup form --}}
</form>

{{!-- add filler for rest of page --}}
<script src="/javascript/login.js"></script>