{{! add filler for rest of page }}
{{! need to add logic to create the user or allow them to sign-in in login.js file}}

<div class="tile is-ancestor mx-2 my-2">
  <div class="tile is-parent is-vertical">
    {{! login }}
    <div class="tile is-child box">
      {{! add intro to page }}
      <form class="login-form" id="login-form">
        <div class="box">
          <label class="label">Login</label>
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
              <input
                id="username-login"
                class="input"
                type="text"
                placeholder="Username"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
              <input
                id="password-login"
                class="input"
                type="password"
                placeholder="Password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <p class="control">
              <button class="button is-success">
                Login
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
    {{! end of login}}

    {{! sign-up}}
    <div class="tile is-child box">
      <form class="signup-form">
        <div class="box">
          <label class="label">Sign Up</label>
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
              <input
                id="username-signup"
                class="input"
                type="text"
                placeholder="Username"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input
                id="email-signup"
                class="input"
                type="text"
                placeholder="Email Address"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
              <input
                id="password-signup"
                class="input"
                type="password"
                placeholder="Password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <p class="control">
              <button class="button is-success">
                Sign Up!
              </button>
            </p>
          </div>
        </div>

      </form>
    </div>
    {{!end of sign-up}}
  </div>

  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <figure class="image is-7by7">
          <img src="https://bulma.io/images/placeholders/640x480.png" />
        </figure>
      </div>
    </div>
  </div>

</div>
<<<<<<< HEAD

<script src="/javascript/login.js"></script>

{{! right side of the tile were all the posts will be displayed}}

{{! end of first tile}}
=======
<script src="/javascript/login.js"></script>
>>>>>>> fceed632443d0fd4920fd4301ca2c6f6494c2204
