<div class="tile is-ancestor mx-2 my-2">
    {{! using a partial file to call the left tile; the tille will display 
    different information based on if the user is loged in or not}}
  {{> leftTile}}

  {{! right side of the tile were all the posts will be displayed}}
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
                <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>

        
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png" />
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>

</div>
{{! end of first tile}}