{{!-- leaving space for navbar  --}}
<div class="tile is-ancestor mx-2 my-2">
{{!-- user posts column --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                {{!-- did not include edit, don't know if we want to add edit post yet --}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- hard code for posts --}}
<div class="tile is-vertical is-3">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary has-text-black">
            <p class="title">Your Posts</p>
        </article>
        <article class="tile is-child notification is-primary">
            <p class="title">Post Restaurant 1</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-primary">
            <p class="title">Post Restaurant 2</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-primary">
            <p class="title">Post Restaurant 2</p>
            <p class="subtitle">Description</p>
        </article>

        </div>
    </div>
</div>

{{!-- user comments column --}}
{{!-- {{#if comments.length}}
<section>
    <h2>Your Comments</h2>
    <ol>
        {{#each comments as |comment|}}
            <li>
                {{> comment-info comment}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}

{{!-- hard code comments --}}
<div class="tile is-vertical is-3">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success has-text-black">
            <p class="title">Your Comments</p>
        </article>
        <article class="tile is-child notification is-success">
            <p class="title">Comment on Restaurant 1</p>
            <p class="subtitle">Description</p>
            <div class="content">
                <p>comment 1</p>
            </div>
        </article>
        <article class="tile is-child notification is-success">
            <p class="title">Comment on Restaurant 2</p>
            <p class="subtitle">Description</p>
            <div class="content">
                <p>comment 2</p>
            </div>
        </article>
        <article class="tile is-child notification is-success">
            <p class="title">Comment on Restaurant 3</p>
            <p class="subtitle">Description</p>
            <div class="content">
                <p>comment 3</p>
            </div>
        </article>
        </div>
    </div>
</div>

{{!-- users upvoted posts  --}}
{{!-- {{#if upvotes.length}}
<section>
    <h2>Your Upvoted Posts</h2>
    <ol>
        {{#each upvotes as |upvote|}}
            <li>
                {{> upvote-info upvote}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}

{{!-- hard code upvoted posts --}}

<div class="tile is-vertical is-3">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info has-text-black">
            <p class="title">Your Upvoted Posts</p>
        </article>
        <article class="tile is-child notification is-info">
            <p class="title">upvoted Restaurant 1</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-info">
            <p class="title">upvoted Restaurant 2</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-info">
            <p class="title">upvoted Restaurant 3</p>
            <p class="subtitle">Description</p>
        </article>
        </div>
    </div>
</div>


{{!-- users favorited posts --}}
{{!-- {{#if favorites.length}}
<section>
    <h2>Your Favorited Posts</h2>
    <ol>
        {{#each favorites as |favorite|}}
            <li>
                {{> favorite-info favorite}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}

{{!-- hard code favorited posts --}}

<div class="tile is-vertical is-3">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-link has-text-black">
            <p class="title">Your Posts</p>
        </article>
        <article class="tile is-child notification is-link">
            <p class="title">Favorited Restaurant 1</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-link">
            <p class="title">Favorited Restaurant 2</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-link">
            <p class="title">Favorited Restaurant 3</p>
            <p class="subtitle">Description</p>
        </article>
        </div>
    </div>
</div>
</div>

{{!-- <script src="/javascript/add-post.js"></script>
{{!-- need to add scripts for favorited posts --}}
<script src="/javascript/upvote.js"></script>
<script src="/javascript/comment.js"></script> --}}