
<div class="tile is-ancestor mx-2 my-2">
{{!-- user posts column --}}
<div class="tile is-vertical is-4">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary has-text-black">
            <p class="title">Your Posts</p>
        </article>
{{#if user.posts.length}}

    <ol>
        {{#each user.posts as |post|}}
            
                {{> post-info post}}
                {{!-- did not include edit, don't know if we want to add edit post yet --}}
            
        {{/each}}
    </ol>

{{/if}}
    </div>
    </div>
</div>


{{!-- user comments column --}}
<div class="tile is-vertical is-4">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success has-text-black">
            <p class="title">Your Comments</p>
        </article>

{{#if comments.length}}
    <ol>
        <li>
        {{#each comments as |comment|}}
            
                {{> post-info comment}}
         
        {{/each}}
        </li>
    </ol>

{{/if}}
    </div>
    </div>
</div>

{{!-- hard code comments --}}
{{!-- <div class="tile is-vertical is-4">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success has-text-black">
            <p class="title">Your Comments</p>
        </article>
        <article class="tile is-child notification is-success">
            <p class="title">Comment on Restaurant 1</p>
            <p class="subtitle">Description</p>
            <div class="content">
                <p>comment 1</p>
            </div>
        </article>
        <article class="tile is-child notification is-success">
            <p class="title">Comment on Restaurant 2</p>
            <p class="subtitle">Description</p>
            <div class="content">
                <p>comment 2</p>
            </div>
        </article>
        <article class="tile is-child notification is-success">
            <p class="title">Comment on Restaurant 3</p>
            <p class="subtitle">Description</p>
            <div class="content">
                <p>comment 3</p>
            </div>
        </article>
        </div>
    </div>
</div> --}}

{{!-- users upvoted posts  --}}
{{!-- {{#if upvotes.length}}
<section>
    <h2>Your Upvoted Posts</h2>
    <ol>
        {{#each upvotes as |upvote|}}
            <li>
                {{> upvote-info upvote}}
            </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}

{{!-- hard code upvoted posts --}}

<div class="tile is-vertical is-4">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info has-text-black">
            <p class="title">Your Upvoted Posts</p>
        </article>
        <article class="tile is-child notification is-info">
            <p class="title">upvoted Restaurant 1</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-info">
            <p class="title">upvoted Restaurant 2</p>
            <p class="subtitle">Description</p>
        </article>
        <article class="tile is-child notification is-info">
            <p class="title">upvoted Restaurant 3</p>
            <p class="subtitle">Description</p>
        </article>
        </div>
    </div>
</div>


<script src="/javascript/add-post.js"></script>
<script src="/javascript/upvote.js"></script>
<script src="/javascript/comment.js"></script>