{{!-- ///// User Profile Posts \\\\\ --}}

{{#if posts.length}}
  <header class="title is-2 has-text-centered">Your Posts</header>

  <div class="columns is-centered">
    <div class="column is-three-quarters px-0">
      <div class="block has-text-centered">
        <button id="view-user-comments-button" class="button is-primary is-medium is-fullwidth">View your comments</button>
      </div>
      <form>
        <div class="field">
          <label class="label has-text-light">Create a Post!</label>
          <div class="control">
            <input id="submit-post-input" class="input is-primary" placeholder="Click Here!"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="columns is-centered my-2">
    <div class="column is-three-quarters has-background-primary">
      {{> profile-posts posts}}
    </div>
  </div>
{{/if}}

{{#unless posts.length}}
  <header class="title is-2 has-text-centered has-text-light">You haven't made any posts yet!</header>

  <div class="columns is-centered">
    <div class="column is-three-quarters px-0">
      <div class="block has-text-centered">
        <button id="view-user-comments-button" class="button is-primary is-medium is-fullwidth">View your comments</button>
      </div>
      <form>
        <div class="field">
          <label class="label has-text-light">Create a Post!</label>
          <div class="control">
            <input id="submit-post-input" class="input is-primary" placeholder="Click Here!"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/unless}}

{{!-- handles the redirect to view user-comments --}}
<script src='/javascript/view-user-comments-handler.js'></script>
<script src='/javascript/submit-post-input-handler.js'></script>