{{!-- need to format with bulma --}}
<div class="columns is-centered my-2">
    <div class="column is-half has-background-primary px-4">

        {{> post-info post}}
        {{#if loggedIn}}
          <div class="tile is-parent is-vertical">
            <form>
              <div class="field">
                <textarea class="textarea is-small is-primary" placeholder="Your comment here"></textarea>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary is-light" type="submit">
                      <span class="icon is-small">
                        <i class="fas fa-comment"></i>
                      </span>
                      <span>
                        Submit Comment
                      </span>
                  </button>
                </div>

                <div class="control">
                  <button class="button is-primary is-light" type="button">
                    <span class="icon is-small">
                      <i class="fas fa-arrow-up"></i>
                    </span>
                    <span>
                      Upvote  
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        {{/if}}

        {{#if loggedIn}}
        <script src="/javascript/comment.js"></script>
        <script src="/javascript/upvote.js"></script>
        {{/if}}
        {{> comments post.comments}}

    </div>
</div>