{{!-- need to format with bulma --}}
<div class="columns is-centered my-2">
    <div class="column is-half has-background-primary">

        {{> post-info post}}
        {{#if loggedIn}}
          <form>
            
          </form>
        {{/if}}

        {{#if loggedIn}}
        <script src="/javascript/comment.js"></script>
        <script src="/javascript/upvote.js"></script>
        {{/if}}
        {{> comments post.comments}}

    </div>
</div>