<h2 class="has-text-centered is-size-2">Create a Post</h2>
<div class="columns is-centered my-1">
  <div class="column has-background-primary is-two-thirds">
    <form>
      
      <div class="field">
        <label class="label">Select a City</label>
        <div class="control">
          <div class="select is-normal">
          <select>
            {{#each locations as |location|}}
            <option>{{location.city_name}}</option>
            {{/each}}
          </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="title">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="url" placeholder="www.yourlinkhere.com">
        </div>
        <p class="help">optional</p>
      </div>

      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Text"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Rating</label>
        <div class="control">
          <div class="select is-small">
            <select id="rating">
              <option></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" integrity="sha512-poSrvjfoBHxVw5Q2awEsya5daC0p00C8SKN74aVJrs7XLeZAi+3+13ahRhHm8zdAFbI2+/SUIrKYLvGBJf9H3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="jquery.barrating.min.js"></script>
<script type="text/javascript">
   $(function() {
      $('#example').barrating({
        theme: 'bars-square'
        
      });
   });
</script> --}}